services:
  top-doggo:
    image: 'ghcr.io/parkerbedlan/top-doggo:0.1.19'
    volumes:
      - '/root/top-doggo/db:/db'
      - '/root/top-doggo/images:/assets/images'
      - '/root/top-doggo/unapproved:/unapproved'
    networks:
      jw0s4ck: null
    labels:
      - coolify.managed=true
      - coolify.version=4.0.0-beta.306
      - coolify.serviceId=1
      - coolify.type=service
      - coolify.name=top-doggo-jw0s4ck
      - coolify.pullRequestId=0
      - coolify.service.subId=1
      - coolify.service.subType=application
      - traefik.enable=true
      - traefik.http.routers.top-doggo.rule=Host(`doggo.parkerbedlan.com`)
      - traefik.http.routers.top-doggo.entrypoints=https
      - traefik.http.routers.top-doggo.tls=true
      - traefik.http.routers.top-doggo.tls.certresolver=letsencrypt
      - traefik.http.services.top-doggo.loadbalancer.server.port=3000
    restart: unless-stopped
    container_name: top-doggo-jw0s4ck
    environment:
      COOLIFY_CONTAINER_NAME: top-doggo-jw0s4ck
volumes: {  }
networks:
  jw0s4ck:
    name: jw0s4ck
    external: true
