@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------------------------------------- */

/* not sure if this is necessary or not */
/* @view-transition { */
/*   navigation: auto; */
/* } */

/* https://htmx.org/essays/view-transitions/ */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

/* define animations for the old and new content */
::view-transition-old(slide-it) {
  animation:
    180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation:
    420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* tie the view transition to a given CSS class */
.sample-transition {
  view-transition-name: slide-it;
}

/* -------------------------------------------------------------------------------------------------------- */

/* for development only */
/* .htmx-request { */
/*   background-color: red; */
/* } */

/* not sure if these are the move, stole it from https://youtu.be/x7v6SNIgJpE?si=THmL1DLeOUsO2Uvm&t=5941 */
.htmx-indicator {
  opacity: 0;
  transition: opactiy 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

/* -------------------------------------------------------------------------------------------------------- */

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-300-italic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-300-normal.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-400-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-400-normal.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-500-italic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-500-normal.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-600-italic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-600-normal.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-700-italic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-700-normal.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-800-italic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-800-normal.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
