@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-request {
  /* TODO: remove for prod */
  background-color: red;
}

/* not sure if these are the move, stole it from https://youtu.be/x7v6SNIgJpE?si=THmL1DLeOUsO2Uvm&t=5941 */
.htmx-indicator {
  opacity: 0;
  transition: opactiy 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}
/* https://youtu.be/x7v6SNIgJpE?si=QUubqHEuChMQd9ho&t=6176 */
.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
