@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-request {
  /* TODO: remove for prod */
  background-color: red;
}

/* not sure if these are the move, stole it from https://youtu.be/x7v6SNIgJpE?si=THmL1DLeOUsO2Uvm&t=5941 */
.htmx-indicator {
  opacity: 0;
  transition: opactiy 500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}
/* https://youtu.be/x7v6SNIgJpE?si=QUubqHEuChMQd9ho&t=6176 */
.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-300-italic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-300-normal.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-400-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-400-normal.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-500-italic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-500-normal.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-600-italic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-600-normal.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-700-italic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-700-normal.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-800-italic.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Shantell Sans";
  src: url("/fonts/shantell-sans/shantell-sans-latin-800-normal.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
