<!DOCTYPE html>
<html lang="en">

<head>
    <!-- https://www.srihash.org/ -->
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <!-- Is this the right way to do it? How do I enable the tailwindcss lsp when I do it this way? -->
    <!-- I don't think so; I think I need to do a build and output it like described here: https://tailwindcss.com/docs/installation -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/assets/output.css" />
    <title>{% block title %}{% endblock %} - Acme</title>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="content">
        {% block content %}<p>Placeholder content</p>{% endblock %}
    </div>
</body>

</html>
