{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

<div class="flex flex-col items-center gap-8">
    {% include "contacts/create-contact-form.html" %}

    <div class="overflow-y-auto max-h-80 mx-auto">
        <table id="contacts-table" class="table table-pin-cols">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                {% include "contacts/contact.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- <script> -->
<!--     document.addEventListener("DOMContentLoaded", (_event) => { -->
<!--         let a = 'a'; -->
<!--         let b = "b" -->
<!--         document.body.addEventListener("htmx:beforeSwap", (event) => { -->
<!--             // https://htmx.org/docs/#modifying_swapping_behavior_with_events -->
<!--             // https://htmx.org/reference/#events -->
<!--             // https://htmx.org/events/#htmx:beforeSwap -->
<!--             // https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest -->
<!--             console.log(event); -->
<!--             if (event.detail.xhr.status === 422) { -->
<!--                 console.log('ayo') -->
<!--                 event.detail.shouldSwap = true; -->
<!--                 event.detail.isError = false; -->
<!--                 event.detail.target = htmx.find("#create-contact-form") -->
<!--             } -->
<!--         }); -->
<!--     }) -->
<!-- </script> -->

{% endblock %}
