{% import "./spinner.html" as spinner %}
{% macro contact(name, email) %}
<tr id="contact-row-{{name}}">
    <td>{{name}}</td>
    <td>{{email}}</td>
    <td>
        {% call delete_button(name) %}
    </td>
</tr>
{% endmacro %}

{% macro delete_button(name) %}
<div class="flex gap-1 items-center">
    <button hx-indicator="#spinner-{{name}}" hx-delete="/contacts?name={{name}}"
        hx-target="#contact-row-{{contact.name}}" hx-swap="outerHTML" hx-disabled-elt="this"
        class="btn btn-error btn-sm aspect-square text-white p-0">{% include
        "./delete_icon.html"
        %}
    </button>
    {% call spinner::spinner(name) %}
</div>
{% endmacro %}
