{% import "./contact.html" as contact %}

{% macro form(name, email, oob_contact) %}
{% if let Some(contact) = oob_contact %}
<tbody hx-swap-oob="beforeend:#contacts-table">
    {% call contact::contact(contact.name, contact.email) %}
</tbody>
{% endif %}
<form hx-post="/contacts" hx-disabled-elt="button, input[type='text'], input[type='email']">
    <input type="text" name="name" id="name" placeholder="Name" class="input input-bordered" value="{{name.value}}" />
    <label for="name" class="text-error label-text-alt">{{name.error}}</label>
    <input type="text" name="email" id="email" placeholder="Email Address" class="input input-bordered"
        value="{{email.value}}" />
    <label for="email" class="text-error label-text-alt">{{email.error}}</label>
    <button type="submit">
        Submit
    </button>
</form>
{% endmacro %}
{% call form(name, email, oob_contact) %}
