{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

<div class="flex flex-col items-center gap-8">

    {% include "contacts/create-contact-form.html" %}

    <div class="overflow-y-auto max-h-80 mx-auto">
        <table id="contacts-table" class="table table-pin-cols">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                {% include "contacts/contact.html" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
